.movies-card {
  display: grid;
  grid-template-areas: "image image" "name like" "duration duration";
  grid-template-columns: auto min-content;
  row-gap: 10px;
  column-gap: 20px;
  width: 100%;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.movies-card__img-link {
  grid-area: image;
  position: relative;
  padding-top: 50%;
}

.movies-card__image {
  object-fit: cover;
  object-position: center;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.movies-card__image:hover {
  opacity: 0.6;
}

.movies-card__name {
  grid-area: name;
  padding-top: 5px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  min-height: 36px;
}

.movies-card__duration {
  grid-area: duration;
  margin: 0;
  margin-top: 3px;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: rgba(160, 160, 160, 1);
  padding-top: 6px;
  border-top: 1px solid rgba(232, 232, 232, 1);
}

.movies-card__like {
  grid-area: like;
  align-self: start;
  width: 24px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(249, 249, 249, 1);
  background-image: url(../../images/icon-like.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.3s ease;
  border: 0;
}

.movies-card__like:hover {
  background-color: rgb(190, 180, 180);
}

.movies-card__like_active {
  background-image: url(../../images/icon-like-active.svg);
}

.movies-card__like_remove {
  background-image: url(../../images/icon-cross.svg);
}

@media screen and (max-width: 606px) {
  .movies-card__image {
    height: 50vw;
  }
}

@media screen and (max-width: 400px) {
  .movies-card__name {
    font-size: 12px;
    line-height: 14.5px;
  }

  .movies-card__duration {
    font-size: 10px;
    line-height: 12px;
  }
}
