.popup {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.popup_opened {
  display: flex;
}

.popup__container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  min-height: 400px;
  min-width: 400px;
  padding: 20px 0;
}

.popup__title {
  margin: 0;
  padding: 0;
}

.popup__text {
  margin: 0;
  padding: 0;
}

.popup__submit {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(43, 224, 128, 1);
  border: 0;
  min-width: 200px;
  min-height: 45px;
  border-radius: 3px;
}

.popup__submit:hover {
  opacity: 0.6;
}

.popup__close {
  color: white;
  position: absolute;
  border-radius: 50%;
  right: -42px;
  top: -42px;
  width: 42px;
  height: 42px;
  background-image: url(../../images/icon-close.svg);
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-size: 32px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}
