.main {
  max-width: 1280px;
  margin: 0 auto;
}

.main__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 23px;
}
