.about-me {
  padding: 110px 50px;
}

.about-me__person {
  display: grid;
  margin-top: 66px;
  grid-template-areas: "name photo" "about photo" "bio photo" "contacts photo";
  grid-template-columns: 600px auto;
  grid-template-rows: repeat(3, auto) 1fr;
}

.about-me__name {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  grid-area: name;
  margin: 0;
}

.about-me__about {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  grid-area: about;
  margin: 0;
  padding-top: 18px;
}

.about-me__bio {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  grid-area: bio;
  margin: 0;
  padding-top: 26px;
}

.about-me__contacts {
  grid-area: contacts;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-self: flex-end;
  gap: 20px;
}

.about-me__contact {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  color: black;
}

.about-me__photo {
  width: 255px;
  height: 307px;
  grid-area: photo;
  justify-self: end;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid white;
}
