.about-me {
  padding: 110px 50px;
}

.about-me__person {
  display: grid;
  margin-top: 66px;
  grid-template-areas: "name photo" "about photo" "bio photo" "contacts photo";
  grid-template-columns: auto auto;
  grid-template-rows: repeat(3, auto) 1fr;
  column-gap: 50px;
}

.about-me__name {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  grid-area: name;
  margin: 0;
}

.about-me__about {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  grid-area: about;
  margin: 0;
  padding-top: 18px;
}

.about-me__bio {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  grid-area: bio;
  margin: 0;
  padding-top: 26px;
  max-width: 600px;
}

.about-me__contacts {
  grid-area: contacts;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-self: flex-end;
  gap: 20px;
}

.about-me__contact {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  color: black;
}

.about-me__photo {
  max-width: 292px;
  max-height: 352px;
  width: 255px;
  height: 307px;
  grid-area: photo;
  justify-self: end;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid white;
}

@media screen and (max-width: 800px) {
  .about-me {
    padding-bottom: 90px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__about {
    font-size: 12px;
    line-height: 18px;
  }
  .about-me__bio {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 650px) {
  .about-me {
    padding: 70px 14px;
  }
  .about-me__name {
    margin-top: 20px;
  }
  .about-me__about {
    padding: 0;
  }
  .about-me__photo {
    width: 100%;
    height: auto;
    justify-self: center;
  }

  .about-me__bio {
    padding: 0;
  }
  .about-me__person {
    grid-template-columns: 1fr;
    grid-template-areas: "photo" "name" "about" "bio" "contacts";
    grid-template-rows: unset;
    row-gap: 20px;
  }
  .about-me__contacts {
    padding: 0;
    margin-top: 20px;
  }
}
